body {
    font-family: Arial, Arial;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #b8ffc0, #ffdc70);
}

header {
    background-color: darkblue;
    color: yellow;
    padding: 10px;
    text-align: center;
}

header h1 {
    margin: 0;
}

main {
    padding: 10px;
    text-align: center;
}

form {
    display: inline-block;
    text-align: left;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #999;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 1px;
}

input[type="text"],
select {
    padding: 10px;
    width: 300px;
    border-radius: 10px;
    margin-bottom: 1px;
    text-align: center;
}

input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 10px;
    transition: all 0.5s ease;
    display: block;
    margin: 10px auto;
    width: 110px;
    height: 40px;
}

input[type="submit"]:hover {
    background-color: green;
}

footer {
    background-color: darkgreen;
    color: #fff;
    padding: 1px;
    text-align: center;
}